* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
font-size: 62.5%;
font-family: 'Open Sans Condensed', sans-serif;
}
a {
    color: tomato;
    text-decoration: none;
    font-stretch: condensed;
}
a:hover {
    color: rgb(201, 14, 201);
    font-stretch: expanded;
    /* font-weight: bolder; */
}
p, ul, li, section, footer {
    font-size: 1.5rem;
    padding: 1%;
}

nav {
    background-color: rgb(109, 67, 109);
    font-size: 1.5rem;
}
nav ul {
    margin: 0 auto;
    padding: 2%;
    width: 80%;
}
nav li {
    display: inline;
    list-style-type: none;
    background-color: white;
}
nav #to-top-button {
    min-width: 1rem;
    max-width: 4rem;
    position: fixed;
    bottom: 0;
    right: 0;
}
.click-button-container{
position: relative;
text-align: center;
}
.centered-click-me{
position: absolute;
color: white ;
font-size: 3rem;
font-weight: bold;
cursor: pointer;
}
.centered-click-me a:hover {
 font-size: larger;
}

.game-click-button {
    cursor: pointer;
}
body {
    background-color: thistle;
}
.workshop-intro {
    background-color: rgb(245, 225, 245);
    border: 1px solid rgb(109, 67, 109);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    width: 80%;
    margin: 0 auto;
    border: violet;
    background-color: white;
}
h1, h2, h3, h4 {
    color: rgb(172, 66, 47);
    padding: 1%;
    font-size: 3rem;
}

section ul {
    padding: 1%;
    margin: 1%;
    background: white;
}

figure {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;  /* THIS finally got the thumbnail caption under the thumbnail!! */
    width: 100%;
    border: 1px solid thistle;
}

.workshop-intro img {
    width: 50%;
    opacity: 70%;
    /* border: 2px solid white; */
    padding: 1%;
    margin: 0 auto;
    display: flex;  /* adding this finally got the image to the center!! */
}
/* .thumbnail-caption{
    display: flex;
    justify-content: center;  /* working on getting this caption under the image for goodness sake 
} */
.thumbnail-image {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    padding: 0.3rem;
    width: 15rem;
}
.thumbnail-image img:hover{
    box-shadow: 0 0 0.2rem 0.1rem rgba(0, 140, 186, 0.5);
}

.my-solution, .my-github-repo, .my-codepen{
    border: 1px solid rgb(109, 67, 109);
    padding: 1% 0 1% 0;
}
footer {
    color: white;
    background-color: rgb(109, 67, 109);
    padding: 2%;
}